.quest-icon-display {
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    transition-timing-function: ease-in;
    transition-duration: 1s;
    width: 500px;
    height: 500px;
    align-self: center;
}

.quest-fade-in {
    opacity: 1;
}
