#QuestScroll Scroller #unity-slider {
    background-color: rgb(255, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

#QuestScroll Scroller {
    opacity: 0;
}

#QuestScroll #unity-content-container {
    opacity: 1;
}
